* {
    box-sizing: border-box;
}

header, #input {
    text-align: center;
}

a {
    text-decoration: none;
}

#carousel {
    display: flex;
    width: 100%;
    flex-direction: row;
    /* white-space: nowrap; */
    

    /* position: relative; */
    /*Animation*/
    /* animation-name: carousel;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

a {
    width: 30%;
}

img {
    width: 125%;
}


<<<<<<< HEAD
#imageIndex0 {
    /* animation-name: mymove; */
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {transform: translateX(500px) }
    to { transform: translateX(0)}
    /* from { transform: translateX(0)}
    to { transform: translateX(-200px)} */
}
=======
>>>>>>> 109e61872d3dc6c8dde9eee84c92d08e27597e59

/* Smartphone display parameters */


<<<<<<< HEAD
/* @media (max-width: 550px) {
=======
@media (max-width: 550px) {
>>>>>>> 109e61872d3dc6c8dde9eee84c92d08e27597e59
    #carousel {
        flex-direction: column;
        align-content: center;
        
    }
    img {
        
    }
<<<<<<< HEAD
} */
=======
}
>>>>>>> 109e61872d3dc6c8dde9eee84c92d08e27597e59
